<div id="error_background">

<div class="wrapper">
  <h1><%= flash[:alert] %></h1>
  <h1><%= flash[:notice] %></h1>


  <p>If you have an account, please sign in again.</p>
  <form method="get" action="/">
    <input type="submit" value="Sign In" class="submit_btn">
  </form>

  <p>Click here to sign up!</p>
  <form method="get" action="/index">
    <input type="submit" value="Sign Up" class="submit_btn">
  </form>

</div>


</div>