	<nav>
	<ul>
		<li><a href="/home"><img src="../images/home.png"></a> | </li>
		<li><a href="/profile"><img src="../images/user1.png"></a> | </li>
		<li><a href="/settings"><img src="../images/settings.png"></a> | </li>
		<li><form method="post" action="/sign_out">
  		<input type="submit" value="Sign Out" id="signout">
		</form></li>
	</ul>
	</nav>

	<h1><%= flash[:notice] %></h1>
	<h1><%= flash[:alert] %></h1>