	<nav>
	<ul>
		<li><a href="/home"><img src="../images/home.png"></a> | </li>
		<li><a href="/profile"><img src="../images/user1.png"></a> | </li>
		<li><a href="/settings"><img src="../images/settings.png"></a> | </li>
		<li><form method="post" action="/sign_out">
  		<input type="submit" value="Sign Out" id="signout">
		</form></li>
	</ul>
	</nav>

	<div class="main_profile">
	<img src="../images/placeholder.png" align="left">
	<h3>Username</h3>
	<ul>
	<li># Posts</li>
	<li># Followers</li>
	<li># Following</li>
	</ul>
	
	<form action="/" method="post">
	<input type="text" name="" value="" class="input_box" placeholder="Compose new blog post..." />
	<input type="submit" value="Post" class="submit_btn">
	</form>
	</div>

	<div class="profile_feed">
	</div>