	<nav>
	<ul>
		<li><a href="/home"><img src="../images/home.png"></a> | </li>
		<li><a href="/profile"><img src="../images/user1.png"></a> | </li>
		<li><a href="/settings"><img src="../images/settings.png"></a> | </li>
		<li><form method="post" action="/sign_out">
  		<input type="submit" value="Sign Out" id="signout">
		</form></li>
	</ul>
	</nav>

	<div class="main_profile">
	<img src="../images/placeholder.png" align="left">
	<h4><%= @current_user.username %></h4>
	<ul>
	<li># Posts</li>
	<li># Followers</li>
	<li># Following</li>
	</ul>
	</div>
	
<!-- 	<div class="profile_feed">
		<form action="/" method="post">
			<input type="text" name="" value="" class="input_box" placeholder="Compose new blog post..." />
			<input type="submit" value="Post" class="submit_btn">
			<input type="image" src="../images/text.png" width="25px" height="25px">
			<input type="image" width="25px" height="25px" src="../images/media.png">
		</form>
	</div> -->

<div class="input_blog">
  <div class="post_media">
  <a href="#" class="text_btn">
  <img src="../images/text.png">Create a blog post</a>
  <a href="#" class="media_btn">
  <img src="../images/media.png">Post a picture/video</a>
  </div>

<div class="post_box">
  <form method="POST" action="/blogposts">
    <textarea name="[post]blog_post" placeholder="Compose new blog post..." class="submit_post"></textarea>
    <br />
    <input type="submit" class="submit_post_btn">
  </form>
</div>
</div>

