
<div class="wrapper">
  <h1>SIGN UP FOR AN ACCOUNT:</h1>
  <form method="POST" action="/up">
    
    <input type="text" name="[user]fname" placeholder="Firstname" class="input_box">
    <input type="text" name="[user]lname" placeholder="Lastname" class="input_box">
    
    <input type="text" name="[user]username" placeholder="Username" class="input_box">
    
    <input type="text" name="[user]email" placeholder="Email" class="input_box">

    <input type="password" name="[user]password" placeholder="Password" class="input_box">

    <input type="text" name="[user]location" placeholder="Location" class="input_box">
    <br>

    <input type="submit" value="Join Now!" class="submit_btn">
  </form>
</div>

