<div class="wrapper">
  <h1>Please log in:</h1>

  <form method="POST" action="/in">
    <input type="text" name="[user]email" placeholder="Email" class="input_box">
    <input type="password" name="[user]password" placeholder="Password" class="input_box">
    <input type="submit" class="submit_btn">
  </form>
</div>

