
<div class="wrapper">
  <h2>Sign Up Here:</h2>
  <form method="POST" action="/up">
    <label for="name">Name:</label>
    <input type="text" name="[user]fname" placeholder="Firstname">
    <input type="text" name="[user]lname" placeholder="Lastname">
    <br>

    <label for="username">Username:</label>
    <input type="text" name="[user]username">
    <br>

    <label for="email">Email:</label>
    <input type="text" name="[user]email">
    <br>

    <label for="password">Password:</label>
    <input type="password" name="[user]password">
    <br>

    <label for="location">Your City:</label>
    <input type="text" name="[user]location">
    <br>

    <input type="submit">
  </form>
</div>

