
<div class="sign_in_link">
  <a href="#" id="signout" class="sign_in_btn">Sign In <i class="fa fa-chevron-circle-down"></i> </a>
</div>


<div class="wrapper">


  <div class="sign_in_box">
    <form method="POST" action="/in">
      <input type="text" name="[user]email" placeholder="Email" class="input_box" required>
      <input type="password" name="[user]password" placeholder="Password" class="input_box" required>
      <input type="submit" class="submit_btn">
    </form>
  </div>
 


  <div class="sign_up_box">
    <h1>SIGN UP FOR AN ACCOUNT:</h1>
    <form method="POST" action="/up">
      <input type="text" name="[user]fname" placeholder="First Name" class="input_box" required>
      <input type="text" name="[user]lname" placeholder="Last Name" class="input_box" required>
      <input type="text" name="[user]username" placeholder="User Name" class="input_box" required>
      <input type="text" name="[user]email" placeholder="Email" class="input_box" required>
      <input type="password" name="[user]password" placeholder="Password" class="input_box" required>
      <input type="text" name="[user]location" placeholder="Location" class="input_box" required>
      <br>
      <input type="submit" value="Join Now!" class="submit_btn">
    </form>
  </div>
</div>

