.wrapper {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#arrow {
  font-size: 4em;
  position: fixed;
  bottom: -10%;
  left: 48%;
}

/*BUTTONS*/
.submit_btn {
  color: #fff;
  background-color: purple;
  border-radius: 50px;
  height: 30px;
  width: 35%;
  border: none;
}

.sign_in_box .submit_btn {
  background-color: #15DAFF;
}

.submit_btn:hover {
  color: #000;
  background-color: #fff;
}

#join_btn:hover {
  color: #fff;
  background-color: limegreen;
}

#save_btn:hover {
  color: #fff;
  background-color: limegreen;
  border-radius: 50px;
  border: none;
}

#delete_btn:hover {
  color: #fff;
  background-color: crimson;
  border-radius: 50px;
  border: none;
}

.sign_in_btn {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-top: 20px;
}

.sign_in_btn:hover {
  color: #fff;
  background-color: #FF2842;
}

.follow_btn {
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  height: 30px;
  border: none;
  margin-bottom: 5px;
}

.follow_btn:hover {
  background-color: mediumturquoise;
}

/*INPUT BOXES*/
.input_box {
  height: 40px;
  width: 60%;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #000;
  text-align: center;
}

.sign_in_box .input_box {
  height: 30px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: center;
}

.sign_in_box {
  width: 18%;
  padding: 10px;
  background-color: #000;
  display: none;
  float: right;
  text-align: right;
}

.sign_in_link {
  text-align: right;
  padding-top: 10px;
}

/*HOME PAGE*/
.homepage {
  margin: 0 auto;
  text-align: center;
}

.homepage_all_users {
  display:inline-block;
  width:20%;
  margin-right:10px;
  text-align: center;
  left:0;
}

.homepage_image {
  width:60px;
  height:60px;
}

.sub_title {
  font-family: 'Paytone One', sans-serif;
  font-weight: lighter;
  padding-left: 40px;
  padding-bottom: 20px;
}

.sub_title span {
  padding-left: 20px;
}

.friend_name {
  font-size: 16px;
  padding-left: 20px;
  vertical-align: top;
  text-align: left;
}

.location {
  font-size: 14px;
  text-align: left;
}

.users_div {
  border-top: 1px dotted #000;
  width: 90%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.recent_posts {
  border-radius: 4px;
  margin-bottom: 10px;
  display: block;
}

.recent_posts p{
  margin-bottom: 0px;
}

.small_profile_img {
  width: 65px;
  height: 66px;
  padding-bottom: 0px;
}

.inspiration_box {
  text-align:center;
}

.feed_left {
  display: inline-block;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: top;
}

.feed_right {
  display: inline-block;
  width: 50%;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.feed_media {
  width: 60%;
  height: 60%;
}

.most_recent {
  margin-left: 40%;
  font-family: 'Paytone One', sans-serif;
  font-weight: lighter;
}

.feed_border {
  border-top: 1px dotted black;

}


