.wrapper {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.input_box {
  height: 40px;
  width: 60%;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #000;
  text-align: center;
}

.submit_btn {
  color: #fff;
  background-color: #000;
  border-radius: 50px;
  height: 40px;
  width: 50%;
  border: none;
}
