nav {
	padding:2px;
	letter-spacing: 1px;
	word-spacing: 10px;
	width:90%;
}

ul {
	text-align: right;
}

ul li {
	list-style: none;
	display:inline-block;
	font-size: 12px;
}

ul li a {
	text-decoration: none;
}

ul li img {
	height:20px;
	width:20px;
}

#signout {
    color: #fff;
    background-color: #000;
    border-radius: 3px;
    font-size: 14px;
    text-decoration: none;
}


#signout:hover {
    border: 2px solid #000;
    color: #000;
    background-color: #fff;
}


.left {
	width:33%;
}

/* MAIN PROFILE DIV */
.main_profile {
	width:340px;
	height:200px;
	border:2px solid black;
	border-radius: 5px;
	margin-left:20px;
}

.main_profile ul li {
	list-style: none;
	display:block;
	text-align: left;
}

.main_profile img{
	width:150px;
	height:150px;
/*	display:block;*/
	padding:20px;
}

/* INPUT BLOG DIV */

.input_blog {
	width:340px;
	height:170px;
	border:2px solid black;
	border-radius: 5px;
	margin: 10px 20px 10px 20px;
	display:block;

}

/* INPUT FIELD AND BUTTONS */
.post_media {
	padding:10px;
}

.post_media img {
	width:25px;
	height:25px;
	margin:0 5px 0 5px;
}

.post_media a {
	text-decoration: none;
	color:#000;
}

/* INPUT FORM */
.submit_post{
  width: 300px;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid #000;
  text-align: center;
}

.submit_post_btn {
  margin-left: 100px;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  height: 40px;
  width: 25%;
  border: none;
}

/* BLOG FEED DIV */
.blog_feed {
	width:340px;
	border:2px solid black;
	border-radius: 5px;
	margin: 10px 20px 10px 20px;
	display:inline-block;
	float:right;
	vertical-align: top;


}

.blog_feed img {
	width:50%;
}